/* 
    Created on : Aug 14, 2020, 8:36:00 PM
    Author     : Abdollah samaei
*/
html, body{
	font-size: 16px;
}
*{
	margin: 0;
	padding: 0;
}
body{
	background: #1B9CFC;
	display: flex;
}
h1{
	font-size: 2.3rem;
}
h2{
	font-size: 1.9rem;
}
h3{
	font-size: 1.6rem;
}
h4{
	font-size: 1.25rem;
}
h5{
	font-size: .9rem;
}
h6{
	font-size: .75rem;
}
p{
	font-size: 1rem;
	line-height: 1.85rem;
}
strong, b{
	font-weight: bold;
}
small{
	font-size: .8rem;
}
.rtl{
	direction: rtl;
	text-align: right;
}
.ltr{
	direction: ltr;
	text-align: left;
}
.abstract{
	max-height: 9rem;
	overflow: hidden;
}

