.navbar{
	padding: .5rem 0;
}
.navbar-brand{
	font-weight: bold;
}
.navbar-brand:hover{
	color: #1B9CFC !important;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
	color: #1B9CFC;
}
.navbar-light .navbar-nav .nav-link {
	text-align: center;
}
.container{
	background: #fff;
	min-height: 100vh;
	padding-bottom: 0;
}
.content{
	min-height: 85vh;
}
.jumbotron{
	background: #ccc;
	color: #333;
	margin-bottom: 1rem;
}
.abstract-col a {
	color: inherit;
}
.abstract-col a:hover {
	color: #1B9CFC;
	text-decoration: none;
}
.abstract-col .btn-primary{
	color: #fff;
}
.abstract-col .btn-primary:hover{
	color: #fff;
	background-color: #1b9cfc;
	border-color: #1b9cfc;
}
.abstract-col .btn-primary.focus, .btn-primary:focus {
    box-shadow: none;
}
.footer{
	display: flex;
	justify-content: center;
	padding: 1.2rem 0 0;
	margin: 0;
	border-top: .15rem solid #ccc;
}
.img-thumbnail {
	padding: 0;
}
.comments{
	background-color: #bdbdbd1f;
	margin: .5rem;
	padding: .5rem;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #1B9CFC;
    border-color: #1B9CFC;
}